body {
  background: linear-gradient(135deg, #2c539e 0%,#2c539e 100%);
}
#root {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}
.country-wrapper {
  height: 400px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.13);
  margin: 20px auto;
}

header {
  position: relative;
  width: 100%;
  height: 30%;
  background: #003e9f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.search {
  margin: 20px auto;
}
.country-photo {
  position: absolute;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 10px solid #003e9f;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: 0 auto;
  object-fit: cover;
}

.country-info {
  padding: 55px 5px 65px;
  font-family: 'Roboto Condesed';
}

h1 {
  font-size: 28px;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  color: #fff;
  transition: color 0.3s;
}
h1:hover,
h2:hover,
.navbar-brand:hover {
  color: #adadad;
}
.info {
  display: flex;
  justify-content: space-around;
}

.info div {
  text-align: center;
  width: 33%;
}

.info div span {
  display: block;
}

.info div span:nth-of-type(1) {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.info div span:nth-of-type(2) {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .5px;
  padding: 6px 0;
}

.countries-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-country {
  width: 26%;
  height: 300px;
  margin-top: 50px;
}

.country-logo-wrapper {
  display: block;
  margin-bottom: 60px;
  height: 200px;
  width: 100%;
}

.country-logo {
  width: 100%;
  height: 100%;
}
.navbar-nav {
  width: auto;
  flex-direction: row;
  justify-content: center;
}
.navbar-header {
  margin: 0 auto; 
}
.navbar-brand {
  margin: 0;
  color: #fff;
}
.navbar-nav li {
  margin-right: 20px;
}
.navbar-nav a {
  color: #fff;
}
@media (max-width: 768px) {
  #root {
    height: 100%;
  }
  .countries-list {
    flex-direction: column;
  }
  .single-country {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;
    height: auto;
    width: 50%;
  }
  .single-country button {
    margin: 20px auto;
  }
  .country-logo-wrapper {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .country-wrapper {
    width: 100%;
  }
  .navbar-header {
    margin: 0 auto;
  }
  .navbar-brand {
    text-align: center;
    color: #003e9f;
  }
  .navbar-nav li {
    text-align: center;
    color: #003e9f;
  }
  .single-country {
    width: 100%;
  }
}